<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orange.daily">

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/module_base_AppTheme" />


    <!--全面屏问题-->
    <meta-data
        android:name="android.max_aspect"
        android:value="2.2" />

</manifest>
